In [52]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('../panda_exercises_math.csv',sep=";")

In [23]:
df.head()

,ID,year,category,sub_category,statement,image,multiple_choice,option_1,option_2,option_3,option_4,true_answer,resolution,image_resolution,source,Unnamed: 15
0,1,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representada, num refe...",q_1,True,"(-1/2, 2)","(-1, 2)","(-1/4, 1/2)","(-2, 4)","(-1,2)",Como o ponto B pertence ao semieixo positivo O...,NaN,"Exame - 2019, 2¬™ fase",NaN
1,2,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representado, num refe...",q_2,False,NaN,NaN,NaN,NaN,6,"Como os pontos A, B e C t√™m abcissa 1, todos p...",q_2_r,"Exame - 2017, √âpoca especial",NaN
2,3,10,Geometria,"Pontos, retas e planos","Considere, num referencial o.n. xOy, os pontos...",NaN,True,y = -1/3x,y = 1/3x,y = 3x,y = -33x,y = 1/3x,O declive da reta AB √© dado por:\nùëöùê¥ùêµ= (ùë¶ùêµ ‚àíùë¶...,NaN,"Exame - 2016, √âpoca especial",NaN
3,4,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representado, num refe...",q_4,True,"(1, 1, 2)","(1, 2, 0)","(0, 1, 1)","(1, 1, 1)","(1,2,0)","Representando os quatro pontos, podemos verifi...",q_4_r,Teste Interm√©dio 10¬∫ ano - 16.03.2012,NaN
4,5,10,Geometria,"Pontos, retas e planos","Considere, num referencial o.n. xOy :\n‚Ä¢ a ret...",q_5,False,NaN,NaN,NaN,NaN,y = 2x -2,Como a reta deve ser paralela √† reta r deve te...,NaN,Teste Interm√©dio 10¬∫ ano - 16.03.2012,NaN

In [26]:
exercises_df = df[['ID', 'year', 'category', 'sub_category', 'statement', 'image', 'multiple_choice', 'resolution', 'image_resolution', 'source']]

In [39]:
exercises_df[exercises_df.columns[1:]].head()

,year,category,sub_category,statement,image,multiple_choice,resolution,image_resolution,source
0,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representada, num refe...",q_1,True,Como o ponto B pertence ao semieixo positivo O...,NaN,"Exame - 2019, 2¬™ fase"
1,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representado, num refe...",q_2,False,"Como os pontos A, B e C t√™m abcissa 1, todos p...",q_2_r,"Exame - 2017, √âpoca especial"
2,10,Geometria,"Pontos, retas e planos","Considere, num referencial o.n. xOy, os pontos...",NaN,True,O declive da reta AB √© dado por:\nùëöùê¥ùêµ= (ùë¶ùêµ ‚àíùë¶...,NaN,"Exame - 2016, √âpoca especial"
3,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representado, num refe...",q_4,True,"Representando os quatro pontos, podemos verifi...",q_4_r,Teste Interm√©dio 10¬∫ ano - 16.03.2012
4,10,Geometria,"Pontos, retas e planos","Considere, num referencial o.n. xOy :\n‚Ä¢ a ret...",q_5,False,Como a reta deve ser paralela √† reta r deve te...,NaN,Teste Interm√©dio 10¬∫ ano - 16.03.2012

In [40]:
exercises_df[exercises_df.columns[1:]].to_json('exercises.json', orient='records')

In [35]:
pd.read_json('exercises.json',  orient = "records")

,ID,year,category,sub_category,statement,image,multiple_choice,resolution,image_resolution,source
0,1,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representada, num refe...",q_1,True,Como o ponto B pertence ao semieixo positivo O...,None,"Exame - 2019, 2¬™ fase"
1,2,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representado, num refe...",q_2,False,"Como os pontos A, B e C t√™m abcissa 1, todos p...",q_2_r,"Exame - 2017, √âpoca especial"
2,3,10,Geometria,"Pontos, retas e planos","Considere, num referencial o.n. xOy, os pontos...",None,True,O declive da reta AB √© dado por:\nùëöùê¥ùêµ= (ùë¶ùêµ ‚àíùë¶...,None,"Exame - 2016, √âpoca especial"
3,4,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representado, num refe...",q_4,True,"Representando os quatro pontos, podemos verifi...",q_4_r,Teste Interm√©dio 10¬∫ ano - 16.03.2012
4,5,10,Geometria,"Pontos, retas e planos","Considere, num referencial o.n. xOy :\n‚Ä¢ a ret...",q_5,False,Como a reta deve ser paralela √† reta r deve te...,None,Teste Interm√©dio 10¬∫ ano - 16.03.2012
5,6,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representado, em refer...",q_6,False,Como a reta deve ser paralela ao eixo Oy pode ...,q_6_r,Teste Interm√©dio 10¬∫ ano - 06.05.2011
6,7,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representado, em refer...",q_7,False,"Como a reta QN √© paralela ao eixo Ox, e como s...",None,Teste Interm√©dio 11¬∫ ano - 27.01.2011
7,8,10,Geometria,"Pontos, retas e planos","Considere, num referencial o.n. xOy, a reta r ...",None,True,Como a reta r que interseta o eixo Oy no ponto...,None,Teste Interm√©dio 10¬∫ ano - 05.05.2010
8,9,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√£o representados, num re...",q_9,False,"Como a base da pir√¢mide, [OPQR], √© um quadrado...",None,Teste Interm√©dio 10¬∫ ano - 05.05.2010
9,10,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√° representada, num refe...",q_10,True,Como a reta r que interseta o eixo Oy no ponto...,None,Teste Interm√©dio 10¬∫ ano - 29.01.2010
10,11,10,Geometria,"Pontos, retas e planos","Na figura ao lado, est√£o representados, num re...",q_11,False,None,None,Teste Interm√©dio 10¬∫ ano - 29.01.2010

# Answers

In [51]:
answers_df = pd.melt(df, id_vars=['ID', 'true_answer'], value_vars=['option_1', 'option_2', 'option_3', 'option_4'], var_name='answer_option', value_name='answer')
answers_df.rename(columns={'ID': 'exercise_id', 'true_answer': 'real_answer'}, inplace=True)

answers_df.head()

   exercise_id real_answer answer_option     answer
0            1      (-1,2)      option_1  (-1/2, 2)
1            2           6      option_1        NaN
2            3    y = 1/3x      option_1  y = -1/3x
3            4     (1,2,0)      option_1  (1, 1, 2)
4            5   y = 2x -2      option_1        NaN

In [82]:
answers_df.sort_values(by=['exercise_id'], inplace=True)
answers_df.reset_index(drop=True, inplace=True)
answers_df['real_answer'] = answers_df['real_answer'].str.replace(',', ', ')
answers_df.head(10)

   exercise_id real_answer answer_option       answer  true_answer
0            1     (-1, 2)      option_1    (-1/2, 2)        False
1            1     (-1, 2)      option_3  (-1/4, 1/2)        False
2            1     (-1, 2)      option_2      (-1, 2)        False
3            1     (-1, 2)      option_4      (-2, 4)        False
4            2           6      option_3          NaN        False
5            2           6      option_4          NaN        False
6            2           6      option_2          NaN        False
7            2           6      option_1          NaN        False
8            3    y = 1/3x      option_2     y = 1/3x         True
9            3    y = 1/3x      option_1    y = -1/3x        False

In [83]:
answers_df['true_answer'] = np.where((answers_df['real_answer'] == answers_df['answer']), True, False)

In [84]:
answers_df.head()

   exercise_id real_answer answer_option       answer  true_answer
0            1     (-1, 2)      option_1    (-1/2, 2)        False
1            1     (-1, 2)      option_3  (-1/4, 1/2)        False
2            1     (-1, 2)      option_2      (-1, 2)         True
3            1     (-1, 2)      option_4      (-2, 4)        False
4            2           6      option_3          NaN        False

In [48]:
answers_df.dropna().head()

    exercise_id true_answer answer_option       answer
0             1      (-1,2)      option_1    (-1/2, 2)
22            1      (-1,2)      option_3  (-1/4, 1/2)
11            1      (-1,2)      option_2      (-1, 2)
33            1      (-1,2)      option_4      (-2, 4)
35            3    y = 1/3x      option_4     y = -33x

In [86]:
answers_df[['exercise_id', 'true_answer', 'answer']].dropna().to_json('answers.json', orient='records')